/*
  COLOR PALETTE
  https://colours.neilorangepeel.com/
  #696969   rgb(105,105,105)  dimgrey
  #FFD700   rgb(255,215,0)    gold
  #FFFFF0   rgb(255,255,240)  ivory
  #4682B4   rgb(70,130,180)   steelblue
  #B0C4DE   rgb(176,196,222)  lightsteelblue
*/

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #696969;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 300px;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #FFFFF0;
}

h1 {
  font-family: 'Crushed', cursive;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  margin: 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.content-wrap {
  max-width: 768px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dotted #696969;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* PROFILE */
header {
  background: #4682B4;
  color: #FFFFF0;
}

.profile {
    text-align: left;
  }

/* PROJECTS */
.projects {
  background: #FFFFF0;
}

.projects .btn {
  background: #4682B4;
  color: #FFFFF0;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.projects .btn:hover {
  background: #B0C4DE;
}

.project-item {
  padding: 30px 0;
}

.project-item h3 {
  margin-top: 0;
}

.project-summary > a:last-of-type {
  margin-left: 10px;
}

/* WORK EXPERIENCE */
.work-experience {
  background: #B0C4DE;
}

/* EDUCATION */
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

/* CONTACT */
footer {
  background: #696969;
  color: #FFFFF0;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  header, footer {
    text-align: center;
  }

  .project-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    letter-spacing: 2px;
  }

  h2 {
    line-height: 1.25;
  }

  .contact-list a {
    padding: 5px;
  }
}
