@media only screen and (min-width: 601px) {

* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	background:linear-gradient(rgb(153,153,153), rgb(102,102,102));
}

*, *:before, *:after {
	box-sizing:inherit;
}

.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-around;
	width:90%;
	margin:10px auto;
	background-color:rgb(255,255,255);
	border-radius:5px;
}

.header {
	background:url(background.jpg);
	background-position:center center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:5px double rgb(255,255,255);
}

.header > h1 {
	padding:30px 20px;
	font-family:'Bungee Inline', cursive;
	font-size:5em;
	font-weight:normal;
	text-transform:uppercase;
	text-align:center;
	color:rgb(255,255,255);
}

.experience {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	padding:0 20px;
}

.experience > div {
	width:30%;
	border:1px solid rgb(153,153,153);
	border-radius:5px;
}

.experience > div:hover {
	border:1px solid rgb(245,211,0);
}

.link {
	text-decoration:none;
	color:rgb(0,0,0);
}

.experience > div > a > h2 {
	padding:20px 10px 0 10px;
	font-family:'Open Sans', sans-serif;
	font-size:1.1em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}

.experience > div > a:hover > h2 {
	color:rgb(245,211,0);
}

.experience > div > a > p {
	padding:10px 20px 20px 20px;
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.5em;
	text-align:justify;
}

.experience > div > a:hover > p {
	color:rgb(153,153,153);
}

.summary > p, .projects > p {
	padding:20px;
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.5em;
	text-align:justify;
}

.projects > p > a:hover {
	color:rgb(245,211,0);
}

.summary > img {
	width:120px;
	margin:20px;
	padding:5px;
	float:left;
	border:1px solid rgb(153,153,153);
	border-radius:50%;	
}

.projects > img {
	width:120px;
	margin:20px;
	padding:5px;
	float:right;
	border:1px solid rgb(153,153,153);
	border-radius:50%;
}

.footer {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:10px 20px 20px 20px;
}

.footer > div > p {
	font-family:'Open Sans', sans-serif;
	font-size:0.9em;
}

.footer > div > a {
	margin-right:10px;
	font-size:1.2em;
	color:rgb(0,0,0);
}

.footer > div > a:hover {
	color:rgb(245,211,0);
}

}

@media only screen and (max-width: 600px) {

* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	background:linear-gradient(rgb(153,153,153), rgb(102,102,102));
}

*, *:before, *:after {
	box-sizing:inherit;
}

.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-around;
	width:90%;
	margin:10px auto;
	background-color:rgb(255,255,255);
	border-radius:5px;
}

.header {
	background:url(background.jpg);
	background-position:center center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:5px double rgb(255,255,255);
}

.header > h1 {
	padding:30px 20px;
	font-family:'Bungee Inline', cursive;
	font-size:4em;
	font-weight:normal;
	text-transform:uppercase;
	text-align:center;
	color:rgb(255,255,255);
}

.experience {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-around;
	padding:0 40px 0 20px;
}

.experience > div {
	width:100%;
	margin:10px;
	border:1px solid rgb(153,153,153);
	border-radius:5px;
}

.experience > div:hover {
	border:1px solid rgb(245,211,0);
}

.link {
	text-decoration:none;
	color:rgb(0,0,0);
}

.experience > div > a > h2 {
	padding:20px 10px 0 10px;
	font-family:'Open Sans', sans-serif;
	font-size:1.1em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}

.experience > div > a:hover > h2 {
	color:rgb(245,211,0);
}

.experience > div > a > p {
	padding:10px 20px 20px 20px;
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.5em;
	text-align:center;
}

.experience > div > a:hover > p {
	color:rgb(153,153,153);
}

.summary > p {
	padding:20px 20px 10px 20px;
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.5em;
	text-align:left;
}

.projects > p {
	padding:10px 20px 20px 20px;
	font-family:'Open Sans', sans-serif;
	font-size:1em;
	line-height:1.5em;
	text-align:left;
}

.projects > p > a:hover {
	color:rgb(245,211,0);
}

.summary > img {
	width:120px;
	margin:20px;
	padding:5px;
	float:left;
	border:1px solid rgb(153,153,153);
	border-radius:50%;	
}

.projects > img {
	width:120px;
	margin:10px 20px 20px 20px;
	padding:5px;
	float:right;
	border:1px solid rgb(153,153,153);
	border-radius:50%;
}

.footer {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:10px 20px 20px 20px;
}

.footer > div > p {
	font-family:'Open Sans', sans-serif;
	font-size:0.9em;
}

.footer > div > a {
	margin-right:10px;
	font-size:1.2em;
	color:rgb(0,0,0);
}

.footer > div > a:hover {
	color:rgb(245,211,0);
}

}